body{font-family: 'Poppins', sans-serif;
margin: 0;}

h1{
    font-size: 40px;
    
}
.orange-color{ color:orange;}
.flaxible-containar{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 60%;}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(#f0ed56, orange);
    color: white;
    font-weight: 400;
    padding: 10px 40px; 
    border-radius: 5%;   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
width: 40%;             
margin-left: 5%;
margin-right: 5%;
box-shadow: 10px 10px 40px gray;
padding: 20px;
border-radius: 10px;

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
}
#baby-web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
#padding{
padding: 84px;
}
.font-justify{
    text-align: justify;
}